body {
    background-color: #3cbeb1;
}

div.center {
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

h1#countEl { 
    color: rgb(0, 0, 0);
    font-size: 5em;
} 

h1 {
    color: rgb(0, 0, 0);
    
} 

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

#increment-btn {
    background: rgb(236, 0, 145);
}

#reset-btn {
    background: rgb(0, 227, 0);
}